__pycache__/
*.py[cod]
*.so

.env
.venv
env/
venv/
ENV/

.git
.gitignore

.DS_Store
._*
.Spotlight-V100
.Trashes

build/
dist/
*.egg-info/

model/
models/
checkpoints/
logs/
runs/
outputs/
results/

img_tests/

node_modules/
